* {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

pre {
  background-color: rgb(238, 238, 238);
  padding: 15px;
  width: 100%;
  border: 5px solid rgb(124, 128, 124);
}